
body{
    text-align: center;
}
.UCL{
    width:200px;
    height:200px;
}
.Ajax{
    width:200px;
    height:200px;
}
.Barca{
    width:200px;
    height:200px;
}
.Liverpool{
    width:200px;
    height:200px;
}